* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    display: flex;
}
section #background {
    width: 50%;
    height: 100vh;
}
section #form {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}
#form h2 {
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5em;
}
form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
form input {
    width: 400px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    padding: 5px;
}
form button{
    width: 400px;
    height: 30px;
    outline: none;
    cursor: pointer;
    background-color: red;
    border: none;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    transition: all ease 0.5s;
}
form button:hover{
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
    scale: 105%;
}
form p {
    font-weight: normal;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8em;
}
form p a {
    text-decoration: none;
    color: red;
}