main {
    width: 100%;
    display: flex;
    align-items: center;
}

main #background {
    width: 50%;
    height: 100vh;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

main #form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}

#form h2 {
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5em;
}

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

form input {
    width: 350px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    padding: 5px;
}

form button {
    width: 350px;
    height: 30px;
    outline: none;
    cursor: pointer;
    background-color: red;
    border: none;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    transition: all ease 0.5s;
}

form button:hover {
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
    scale: 105%;
}

form p {
    font-weight: normal;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8em;
}

form p a {
    text-decoration: none;
    color: red;
}

@media (max-width: 767px) {
    main {
        flex-direction: column;
    }
    main #background {
        width: 100%;
        height: 30vh;
    }
    main #form {
        width: 100%;
        height: max-content;
        padding: 5px;
        gap: 7.5px;
    }
    main #form input {
        width: 225px;
    }
    main #form button {
        width: 225px;
    }
    main #form h2 {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    main #form input {
        width: 285px;
    }
    main #form button {
        width: 285px;
    }
    main #background {
        width: 70%;
        background-position: 35%;
        
    }
    
}

@media (min-width: 1025px) {}
